{__NOLAYOUT__}
<div style="padding:25px">
	<p>
		<label style="display:inline-block;width:60px">快递：</label>
		<select id="delivery_edit_style">
		<volist name="delivery_style_list" id="delivery_style_vo">
		<option value="{$delivery_style_vo}" <eq name="old_shipping_style" value="$delivery_style_vo">selected="selected"</eq> >{$delivery_style_vo}</option>
		</volist>
		</select>
	</p>
	<p>
		<label style="display:inline-block;width:60px">运单号：</label>
		<input type="text" id="delivery_number" value="{$old_number}"/>
	</p>
	<p>
		<label style="display:inline-block;width:60px">重量：</label>
		<input type="text" id="delivery_weight" value="{$old_weight}"/>
	</p>
	<p>
		<input type="submit" onclick="delivery_detail_add({$order_id},'{$style}','update')">
	</p>
</div>
