<div class="admin">
	<table class="table  table-striped table-hover table-condensed">
		<tr>
			<td colspan="10" class="table_title">
				<span class="fl" class="icon-users">手动订单产品管理</span>
			</td>
		</tr>
		<tr class="">
			<th>序号</th>
			<th>手动订单号</th>
			<th>名称</th>
			<th>code</th>
			<th>价格</th>
			<th>数量</th>
			<th>定制信息</th>
			<th>管理操作</th>
		</tr>
	<volist name="list" id="vo" key="k">
		<tr>
			<td>{$k}</td>
			<td>{$vo.order_manual_id}</td>
			<volist name="vo['order_manual_product']" id="product_vo">
			<td>{$product_vo.name}</td>
			<td>{$product_vo.code}</td>
			</volist>
			<td>{$vo.price}</td>
			<td>{$vo.number}</td>
			<td>{$vo.customization}</td>
			<td>
				<a href="javascript:" class="icon-trash-o" title="删除" onClick="layer.confirm('你确定删除该关联产品？', {btn: ['确定','取消']}, function(){location.href='{:U('/Admin/OrderManage/order_manual_product_del/',array('id'=>$vo['id']))}'});"></a> 
			</td>	
		</tr>
	</volist>
		<tr class="tr">
	          <td colspan="10" class="pages" align="center">
	            {$page}
	          </td>
	    </tr>
	</table>
</div>