<script src="__JS__/OrderManage/main.js?v={:time()}"></script>
<style>
img{vertical-align: middle;}
</style>
<script>
function history_order_information(obj,id){
	var information=document.getElementById("information_"+id);
	if(information.style.display=='none'){
		information.style.display='';
		obj.className="icon-chevron-up";
	}else{
		information.style.display='none';
		obj.className="icon-chevron-down";
	}
}

function merchants_message(order_id,style){
	var user_list='';
	var option='';
	$.ajax({
		type: "POST",
		url:  _CONTROLLER_+"/order_message",
		data : {"order_id":order_id},
		dataType: 'json',
		success : function(result){
			$.each(result,function(n,value){
				option+="<option>"+value['username']+"</option>";
			})
			user_list="<select name='accept'>"+option+"</select>";
			layer.open({
				  type: 1,
				  title: "商家留言",
				  area: ['700px', '433px'],
				  closeBtn: 1,
				  shadeClose: false,
				  skin: 'layui-layer-lan',
				  content: "<form action='{:U("/Admin/OrderManage/order_message/deal/add")}' method='post'><div><ul class='list-group'><li><strong>内容:</strong>&nbsp;&nbsp;&nbsp;<textarea name='plat_message' style='width:300px;height:100px;' id='content'></textarea></li><li><strong>指定人:</strong>&nbsp;&nbsp;&nbsp;"+user_list+"</li><li><strong>操作人:</strong>&nbsp;&nbsp;&nbsp;{$username}</li><li><input type='hidden' value='"+order_id+"' name='order_id'><input type='hidden' value='"+style+"' name='style'><input type='hidden' value='{$username}' name='operator'><input type='submit' value='提交' class='button border-blue'></li></ul></div></form>",	 
			});
			KindEditor.ready(function(K) {
				editor = K.create('textarea[id="content"]', {
					allowFileManager: true,
					afterBlur: function(){this.sync();},
				});
			});
		}
	})
}
</script>
<script src="__JS__/ServiceManage/logistics_information.js"></script>
<div class="admin">
<a href="{:U('/Admin/OrderManage/order_web/order_status/'.$order_status)}"><button class="button border-black padding-small" >返回</button></a>
	<div class="panel" style="width:100%;float:left;margin-top:10px;">
	<div class="panel-head"><strong>顾客邮箱:</strong>&nbsp;&nbsp;&nbsp;<a href="{:U('/Admin/CustomerManage/index/',array('email'=>$web_message_shipping[email]))}">{$web_message_shipping.email}</a>
	<strong id="warning_{$web_message_shipping['id']}" style="display: block;color:red;">
	{:mark_bad_user($web_message_shipping['id'], $web_message_shipping['email'], $web_message_shipping['first_name'], $web_message_shipping['last_name'],$web_message_shipping[supplement_info][custome_ip],$web_message_shipping[order_web_address][0][telephone])}</strong>
	</div>
	</div>
	
	<div class="panel" style="width:100%;float:left;margin-top:10px;">
		<div class="panel-head"><strong>收件地址:</strong><span style="float:right;"><a class="icon-pencil text-red" title="修改收件地址" href="{:U('/Admin/OrderManage/address_edit',array('address_id'=>$web_message_shipping[id]))}"></a></span></div>
		<table class="table">
          <tr><td width="110" align="right"><strong>收件人：</strong></td><td>{$web_message_shipping.order_web_address.0.first_name}{$web_message_shipping.0.order_web_address.last_name}</td><td width="90" align="right"><strong>国家：</strong></td><td>{$web_message_shipping.order_web_address.0.country}</td></tr>
          <tr><td align="right"><strong>州/省：</strong></td><td>{$web_message_shipping.order_web_address.0.province}</td><td align="right"><strong>城市：</strong></td><td>{$web_message_shipping.order_web_address.0.city}</td></tr>
          <tr><td align="right"><strong>地址1：</strong></td><td>{$web_message_shipping.order_web_address.0.address}</td><td align="right"><strong>邮编：</strong></td><td>{$web_message_shipping.order_web_address.0.code}</td></tr>
          <tr></tr>
          <tr><td align="right"><strong>电话：</strong></td><td>{$web_message_shipping.order_web_address.0.telephone}</td><td></td><td></td></tr>
      </table>
	</div>
	
	<div class="panel" style="width:100%;float:left;margin-top:10px;">
	<div class="panel-head"><strong>运单信息:</strong><span style="float: right;margin-right: 10px;cursor:pointer;"><empty name="web_message_shipping.detail_info"><a class="icon-pencil text-red" title="手动添加运单信息" onclick="waybill_information({$Think.get.order_id},'web');" style="margin-right:10px"></a></empty><a class="icon-truck text-red" title="详情" onclick="btnSnap('{$web_message_shipping.detail_info.style}','{$web_message_shipping.detail_info.delivery_number}')"></a></span></div>
	<table class="table" style="margin-top:5px;">
         	<tr><td>运单号</td><td>运输方式</td><td>时间</td><td>状态</td></tr>
 			<tr><td>{$web_message_shipping.detail_info.delivery_number}</td><td>{$web_message_shipping.detail_info.style}</td><td><php>$message=get_last_message($web_message_shipping[detail_info][delivery_number],$web_message_shipping[id],'web');echo $message[time];</php></td><td>{$message[message]}</td></tr>
    </table>
	</div>
	
	<div class="panel" style="width:100%;float:left;margin-top:10px;">
		<div class="panel-head"><strong>留言内容</strong><span style="float:right;"><a class="icon-comment text-green" title="添加商家留言" style="cursor:pointer;" onclick="merchants_message({$web_message_shipping[id]},'web')"></a></span></div>
		<ul class="list-group">
		<li>
		<strong>客户留言:</strong>&nbsp;&nbsp;&nbsp;<notempty name="web_message_shipping.0.message">{$web_message_shipping.message}<else />无</notempty>
		</li>
         <li>
         <strong>商家留言:</strong> 
         <notempty name="web_message_shipping.message_info">
         <table class="table" style="margin-top:5px;">
         	<tr><td>日期</td><td>指定人</td><td>内容</td><td>操作人</td></tr>
         	<volist name="web_message_shipping.message_info" id="vo">
         	<tr><td>{:date("Y-m-d H:i:s",$vo[date_time])}</td><td class="text-red">{$vo.accept}</td><td class="text-red">{$vo.message}</td><td>{$vo.operator}</td></tr>
         	</volist>
         </table>
         <else />无
         </notempty> 
         </li>
         </ul>
	</div>
	
	 <div class="panel" style="width:100%;float:left;margin-top:10px;">
      <div class="panel-head"><strong>订单信息</strong><span style="float:right;"><a href="__MODULE__/ProductReturn/product_return_order/order_number/{$web_message_shipping.order_number}/come/web/order_status/{$order_status}/order_id/{$Think.get.order_id}" class="icon-pencil text-red" title="退货/换货/追加"></a></span></div>
      	 <ul class="list-group">
      	 <li>
    		<table class="table">
    			<tr><td><strong>订单状态</strong></td></tr>
    			<tr><td>订单号</td><td>时间</td><td>内容</td><td>状态</td></tr>
    			<php>$order_status_array=order_status_list($web_message_shipping[id],'web')</php>
    			<volist name="order_status_array" id="status_array">
    			<tr>
    			<td>{$web_message_shipping.order_number}</td>
    			<td>{$status_array.date_time|date='Y-m-d H:i:s',###}</td>
    			<td>{$status_array.message}</td>
    			<td>{$status_array.status}</td>
    			</tr>
    			</volist>
    		</table>
    	 </li>
    	 <li>
    		<table class="table">
    			<tr><td><strong>优惠信息</strong></td></tr>
    			<tr><td>{$web_message_shipping.couponcode}</td></tr>
    			</volist>
    		</table>
    	 </li>
    	 <li>
<!-- 	 	<table class="table">
      	 	<tr class="list_head">
         		<td align="left">订单号</td><td align="left">姓名</td><td align="left">支付方式</td><td align="left">总价</td><td align="left">来源</td><td align="left">下单时间</td><td align="left">来源(least_from)</td><td align="left">状态</td>
         	</tr>
         	<tr>
         		<td>{$web_message_shipping.order_number}</td>
         		<td>{$web_message_shipping.customer_info.first_name}{$web_message_shipping.customer_info.last_name}</td>
         		<td>{$web_message_shipping.payment_style}</td>
         		<td>{$web_message_shipping.total_price_discount}</td>
         		<td>{$web_message_shipping.come_from}</td>
         		<td>{$web_message_shipping.date_time}</td>
         		<td>{$web_message_shipping.least_from}</td>
         		<td>{$web_message_shipping.order_web_status.status}</td>
         	</tr>
      	 	</table> --> 
			
			<table class="table">
				<tr><td colspan="9"><strong>订单产品</strong></td></tr>
				<tr>
					{// 序号 套件 价格 名称 颜色 尺码 工厂 数量 状态}
					<td style="text-align:center;" width="45">序号</td>
					<td style="text-align:center;" width="100">套件</td>
					<td style="text-align:center;" width="100">价格</td>
					<td style="text-align:center;" width="150">名称</td>
					<td style="text-align:center;" width="150">Code</td>
					<td style="text-align:center;" width="150">颜色</td>
					<td style="text-align:center;" width="150">尺码</td>
					<td style="text-align:center;" width="150">工厂</td>
					<td style="text-align:center;" width="100">数量</td>
					<td style="text-align:center;" width="100">状态</td>
				</tr>
				<php>$flag = 'false';</php>{//标记是否已有未关联产品;另外，在模板中用boolean值不方便}
				<volist name="order_info.order_web_product" id="product_group_vo" key="product_group_i">
					<empty name="product_group_vo.0.set_sku">{//单件}
						<tr>
							<td>{$product_group_i}</td>
							<td align="center"> — </td>
							<td align="center">
								<span style="text-decoration:line-through;">{$product_group_vo.0.price}</span> 
								<span style="color:red;">{$product_group_vo.0.discount_price}</span>
							</td>
							<notempty name="product_group_vo.0.code_id">
								<td align="center">{$product_group_vo.0.code_info.name}</td>
								<td align="center">{$product_group_vo.0.code_info.code}</td>
								<td align="center">{$product_group_vo.0.code_info.color_info.value}</td>
								<td align="center">
									<empty name="product_group_vo.0.nightwear_customization_info">
										<span>{$product_group_vo.0.code_info.size_info.value}</span>
									<else/>
										<span style="margin-right:5px;float:left;font-weight:bold;">[定制]</span>
										<span>{$product_group_vo.0.nightwear_customization_info.customization}</span>
									</empty>
								</td>
								<td align="center">{$product_group_vo.0.code_info.factory_info.name}</td>
							<else/>
								<eq name="flag" value="false">
									<script>
										$("#check_{$vo.id}").attr("disabled","disabled");
										$("#audit_button_{$vo.id}").attr("onclick","layer.msg('产品sku未关联code');");
										$("#audit_button_{$vo.id}").removeClass("text-red");
										$("#audit_button_{$vo.id}").addClass("text-gray");
										mark_row({$vo['id']},"产品sku未关联","red_warning");
									</script>
									<php>$flag = 'true';</php>{//标记已有未关联产品}
								</eq>
								<td align="center">
									<span style="color:red;">未关联</span> 
								</td>
								<td align="center"><span style="color:red;">—</span></td>
								<td align="center">
									<empty name="product_group_vo.0.nightwear_customization_info">
										<span style="color:red;">—</span>
									<else/>
										<span style="margin-right:5px;float:left;font-weight:bold;">[定制]</span>
										<span>{$product_group_vo.0.nightwear_customization_info.customization}</span>
									</empty>
								</td>
								<td align="center"><span style="color:red;">—</span></td>
							</notempty>
							<td align="center">{$product_group_vo.0.number}</td>
							<td align="center">
								<notempty name="product_group_vo.0.status">
									{$product_group_vo.0.status}
								<else/>
									normal
								</notempty>
							</td>
						</tr>
						<notempty name="product_group_vo.0.extra_info.gift_box">
							<tr>
								<td></td>
								<td colspan="3">
									<span style="font-weight:bold;margin-right:5px;">[礼品盒]</span>
									<span>{$product_group_vo.0.extra_info.gift_box_message}</span>
								</td>
								<td>
									<img style="height:60px;width:60px;" src="{$product_group_vo.0.extra_info.gift_box}">
								</td>
							</tr>
						</notempty>
						<notempty name="product_group_vo.0.extra_info.gramming_name">
							<tr>
								<td></td>
								<td>
									<span style="font-weight:bold;margin-right:5px;">[绣字]</span>
									<span>{$product_group_vo.0.extra_info.gramming_name}</span>
								</td>
								<td align="center">
									<span>{$product_group_vo.0.extra_info.gramming_style}</span>
								</td>
								<td align="center">
									<span>{$product_group_vo.0.extra_info.gramming_color}</span>
								</td>
							</tr>
						</notempty>
						<notempty name="product_group_vo.0.extra_info.gift_product_name">
							<tr>
								<td></td>
								<td>
									<span style="font-weight:bold;margin-right:5px;">[赠品]</span>
									<span>{$product_group_vo.0.extra_info.gift_product_name}</span>
								</td>
								<td align="center">
									<img style="width:60px;height:60px;" src="{$product_group_vo.0.extra_info.gift_product_img}">
								</td>
								<td colspan="6">
									<span>{$product_group_vo.0.extra_info.gift_message}</span>
								</td>
							</tr>
						</notempty>
							
					<else/>{//套件}
						<volist name="product_group_vo" id="product_vo" key="product_i">
							<tr>
								<td><eq name="product_i" value="1">{$product_group_i}</eq></td>
								<td align="center"><eq name="product_i" value="1"><span style="color:red">套件sku： {$product_vo.set_sku}</span></eq></td>
								<td align="center">
									<eq name="product_i" value="1">
									<span style="text-decoration:line-through;">{$product_vo.price}</span> 
									<span style="color:red;">{$product_vo.discount_price}</span>
									</eq>
								</td>
								<notempty name="product_vo.code_id">
									<td align="center">{$product_vo.code_info.name}</td>
									<td align="center">{$product_vo.code_info.color_info.value}</td>
									<td align="center">
										<empty name="product_group_vo.0.nightwear_customization_info">
											<span>{$product_vo.code_info.size_info.value}</span>
										<else/>
											<span style="margin-right:5px;float:left;font-weight:bold;">[定制]</span>
											<span>{$product_vo.nightwear_customization_info.customization}</span>
										</empty>
									</td>
									<td align="center">{$product_vo.code_info.factory_info.name}</td>
								<else/>
									<td align="center">
										<span style="color:red;">未关联</span> 
									</td>
									<td align="center"><span style="color:red;">—</span></td>
									<td align="center">
										<empty name="product_group_vo.0.nightwear_customization_info">
											<span style="color:red;">—</span>
										<else/>
											<span style="margin-right:5px;float:left;font-weight:bold;">[定制]</span>
											<span>{$product_vo.nightwear_customization_info.customization}</span>
										</empty>
									</td>
									<td align="center"><span style="color:red;">—</span></td>
								</notempty>
								<td align="center">{$product_vo.number}</td>
								<td align="center">
									<notempty name="product_group_vo.0.status">
										{$product_group_vo.0.status}
									<else/>
										normal
									</notempty>
								</td>
							</tr>
							<notempty name="product_group_vo.0.extra_info.gift_box">
								<tr>
									<td></td><td></td><td></td>
									<td colspan="3">
										<span style="font-weight:bold;margin-right:5px;">[礼品盒]</span>
										<span>{$product_group_vo.0.extra_info.gift_box_message}</span>
									</td>
									<td>
										<img style="height:60px;width:60px;" src="{$product_group_vo.0.extra_info.gift_box}">
									</td>
								</tr>
							</notempty>
							<notempty name="product_group_vo.0.extra_info.gramming_name">
								<tr>
									<td></td><td></td><td></td>
									<td>
										<span style="font-weight:bold;margin-right:5px;">[绣字]</span>
										<span>{$product_group_vo.0.extra_info.gramming_name}</span>
									</td>
									<td align="center">
										<span>{$product_group_vo.0.extra_info.gramming_style}</span>
									</td>
									<td align="center">
										<span>{$product_group_vo.0.extra_info.gramming_color}</span>
									</td>
								</tr>
							</notempty>
							<notempty name="product_group_vo.0.extra_info.gift_product_name">
								<tr>
									<td></td><td></td><td></td>
									<td>
										<span style="font-weight:bold;margin-right:5px;">[赠品]</span>
										<span>{$product_group_vo.0.extra_info.gift_product_name}</span>
									</td>
									<td align="center">
										<img style="width:60px;height:60px;" src="{$product_group_vo.0.extra_info.gift_product_img}">
									</td>
									<td colspan="4">
										<span>{$product_group_vo.0.extra_info.gift_message}</span>
									</td>
								</tr>
							</notempty>
						</volist>
					</empty>
				</volist>
				
				{//product_customization_info}
				<volist name="vo.product_customization_info" id="product_customization_vo" key="product_customization_i">
					<eq name="product_customization_i" value="1">
						<script>mark_row({$vo.id},'含定制商品');</script>
					</eq>
					<tr>
						<td align="left">{$product_group_i+$product_customization_i}</td>
						<td align="center" style="color:red;">定制</td>
						<td align="center">{$product_customization_vo.price}</td>
						<td align="center" colspan="2">
							<span style="font-weight:bold;margin-right:5px;">[名称]</span>
							<a href="http://{$product_customization_vo.href}" target="_blank">{$product_customization_vo.name}</a>
						</td>
						<td colspan="20">
							<span style="font-weight:bold;margin-right:5px;float:left;">[描述]</span>
							{$product_customization_vo.description}
						</td>
					</tr>
				</volist>
			</table>	
      	 </li>
      	 <li>
      	 <table class="table">
      	 	 <tr><td colspan="9"><strong>商品原始数据</strong></td></tr>
				<tr>
					<td>序号</td>
					<td style="text-align:center">名称</td>
					<td style="text-align:center">sku</td>
					<td style="text-align:center">颜色</td>
					<td style="text-align:center">尺码</td>
				</tr>
				<volist name="order_info.product_original_info" id="product_original_vo" key="product_original_i">
					<notempty name="product_original_vo.product_set_name">{//套件}
						<tr>
							<td>{$product_original_i}</td>
							<td align="center">
								<a target="_blank" href="http://{$product_original_vo.href}">{$product_original_vo.product_set_name}</a>
								<span style="color:red;margin-left:5px;">套件</span>
							</td>
							<td align="center">{$product_original_vo.sku}</td>
							<td align="center">{$product_original_vo.color}</td>
							<td align="center">{$product_original_vo.size}</td>
						</tr>
						<tr>
							<td colspan="20">
							<table class="original_table">
								<style>.original_table td{padding:2px 8px 2px 8px;}</style>
								<volist name="product_original_vo.set_info" id="set_vo" key="ii">
									<tr>
										<td>{$set_vo.product_name}</td>
										<td>{$set_vo.sku}</td>
										<td>{$set_vo.color}</td>
										<td>{$set_vo.size}</td>
										<td>数量：{$set_vo.number}</td>
									</tr>
								</volist>
							</table>
							</td>
						</tr>
					<else/>{//单件}
						<tr>
							<td>{$product_original_i}</td>
							<td align="center"><a target="_blank" href="http://{$product_original_vo.href}">{$product_original_vo.product_name}</a></td>
							<td align="center">{$product_original_vo.sku}</td>
							<td align="center">{$product_original_vo.color}</td>
							<td align="center">{$product_original_vo.size}</td>
						</tr>
					</notempty>
			</volist>
      	 </table>
      	 </li>
    	 <!--<li>
    		<table class="table">
    			<tr><td><strong>订单产品</strong></td></tr>
    			<tr><td>图片</td><td>产品名称</td><td>价格</td><td>数量</td><td>状态</td><td>套件</td></tr>
    			<volist name="web_message_shipping.order_web_product" id="vo">
    			<tr>
    			<td width="100"><img src="#"></td>
    			<td width="150"><notempty name="vo.code_id">{$vo.code_info.name}<else />{:get_set_sku_name($vo[set_sku])}</notempty></td>
    			<td width="60">{$vo.price}</td>
    			<td width="60">{$vo.number}</td>
    			<td width="60">{$vo.status}</td>
    			<td width="60"><notempty name="vo.set_sku">{$vo.set_sku}<else />否</notempty></td>
    			</tr>
    			</volist>
    		</table>
    	 </li>
    	 -->
       </ul>
   </div>
   
   <div class="panel" style="width:100%;float:left;margin-top:10px;">
   	<div class="panel-head"><strong>历史订单</strong><span style="color: #f60;margin-left:20px;">历史订单金额:&nbsp;&nbsp;{$all_price}</span><span style="color: #f60;margin-left:20px;">历史订单数:&nbsp;&nbsp;{$all_num}</span></div>
   		<notempty name="order_history_list">
         <table class="table">
         <tr class="list_head">
         <td align="left">订单号</td><td align="left">姓名</td><td align="left">支付方式</td><td align="left">金额</td><td align="left">来源</td><td align="left">下单时间</td><td align="left">来源(least_from)</td><td align="left">状态</td><td align="left">运费</td><td align="left">关税</td><td align="left">偏远费</td><td align="center">操作</td>
         </tr>
         <volist name="order_history_list" id="vo">
         <tr class="ji">
         <td style="color:#03c">{$vo.order_number}</td>
         <td style="color:#03c">{$vo.customer_info.first_name}{$vo.customer_info.last_name}</td>
         <td style="color:#03c">{$vo.payment_style}</td>
         <td style="color:#03c">{$vo.total_price}</td>
         <td style="color:#03c">{$vo.come_from}</td>
         <td style="color:#03c">{$vo.date_time}</td>
         <td style="color:#03c"><notempty name="vo.least_from">{$vo.least_from}<else />无</notempty></td>
         <td style="color:#03c">{$vo.order_web_status.status}</td>
         <td style="color:#03c">{:get_delivery_price($vo[order_web_address][0][country],$vo[detail_info][style],$vo[delivery_info][weight])}</td>
         <td style="color:#03c">{$vo.other_price_info.tariffs}</td>
         <td style="color:#03c">{$vo.other_price_info.remote}</td>
         <td align="center"><a class="icon-chevron-down" style="cursor:pointer;" onclick="history_order_information(this,{$vo.id})"></a></td>
         </tr>
         <tr class="ji" id="information_{$vo.id}" style="display:none;">
	         <td colspan="13">
	         	<div class="panel" style="width:100%;float:left;margin-top:10px;">
	         		<div class="panel-head"><strong>订单状态</strong></div>
	         		<table class="table">
		    			<tr><td>订单号</td><td>时间</td><td>内容</td><td>状态</td></tr>
		    			<php>$order_status_array=order_status_list($vo[id],'web')</php>
		    			<volist name="order_status_array" id="status_array">
		    			<tr>
		    			<td>{$vo.order_number}</td>
		    			<td>{$status_array.date_time}</td>
		    			<td>{$status_array.message}</td>
		    			<td>{$status_array.status}</td>
		    			</tr>
		    			</volist>
    				</table>
	         	</div>
	         	<div class="panel" style="width:100%;float:left;margin-top:10px;">
					<div class="panel-head"><strong>订单产品</strong></div>
						<table class="table">
					         <tr class="list_head"><td>图片</td><td align="left">产品名称</td><td align="left">价格</td><td align="left">数量</td><td align="left">状态</td><td align="left">套件</td></tr>
					         <volist name="vo.order_web_product" id="vo_product">
					         <tr class="ji">
					         <td><img src="#"></td>
					         <td>
					         	<notempty name="vo_product.code_id">{$vo_product.code_info.name}<else />{:get_set_sku_name($vo_product[set_sku])}</notempty></td>
					         <td>{$vo_product.price}</td>
					         <td>{$vo_product.number}</td>
					         <td>{$vo_product.status}</td>
					         <td><notempty name="vo_product.set_sku">{$vo_product.set_sku}<else />无</notempty></td>
					         </tr>
					         </volist>
         				</table>
				</div>
				
				<div class="panel" style="width:100%;float:left;margin-top:10px;">
				<div class="panel-head"><strong>运单信息:</strong><span style="float: right;margin-right: 10px;cursor:pointer;"><a class="icon-truck text-red" title="详情" onclick="btnSnap('{$vo.detail_info.style}','{$vo.detail_info.delivery_number}')"></a></span></div>
				<table class="table" style="margin-top:5px;">
         			<tr><td>运单号</td><td>运输方式</td><td>时间</td><td>状态</td></tr>
 					<tr><td>{$vo.detail_info.delivery_number}</td><td>{$vo.detail_info.style}</td><td><php>$message=get_last_message($vo[detail_info][delivery_number],$vo[id],'web');echo $message[time];</php></td><td>{$message[message]}</td></tr>
    			</table>
				</div>
	
	         	<div class="panel" style="width:100%;float:left;margin-top:10px;">
				<div class="panel-head"><strong>收件地址:</strong></div>
				<table class="table">
		          <tr><td width="110" align="right"><strong>收件人：</strong></td><td>{$vo.order_web_address.0.first_name}{$vo.order_web_address.last_name}</td><td width="90" align="right"><strong>国家：</strong></td><td>{$vo.order_web_address.0.country}</td></tr>
		          <tr><td align="right"><strong>州/省：</strong></td><td>{$vo.order_web_address.0.province}</td><td align="right"><strong>城市：</strong></td><td>{$vo.order_web_address.0.city}</td></tr>
		          <tr><td align="right"><strong>地址1：</strong></td><td>{$vo.order_web_address.0.address}</td><td align="right"><strong>邮编：</strong></td><td>{$vo.order_web_address.0.code}</td></tr>
		          <tr></tr>
		          <tr><td align="right"><strong>电话：</strong></td><td>{$vo.order_web_address.0.telephone}</td><td></td><td></td></tr>
      			</table>
				</div>
				<div class="panel" style="width:100%;float:left;margin-top:10px;">
					<div class="panel-head"><strong>留言内容</strong></div>
					<ul class="list-group">
					<li>
						<strong>客户留言:</strong>&nbsp;&nbsp;&nbsp;<notempty name="vo.message">{$vo.message}<else />无</notempty>
					</li>
         			<li>
         				<strong>商家留言:</strong> 
         				<notempty name="vo.message_info">
         				<table class="table" style="margin-top:5px;">
         				<tr><td>日期</td><td>指定人</td><td>内容</td><td>操作人</td></tr>
         				<volist name="vo.message_info" id="message_info">
         				<tr><td>{:date("Y-m-d H:i:s",$vo[date_time])}</td><td class="text-red">{$message_info.accept}</td><td class="text-red">{$message_info.message}</td><td>{$message_info.operator}</td></tr>
         				</volist>
         				</table>
         				<else />无
         				</notempty> 
         			</li>
         			</ul>
				</div>
				
				<!-- <div class="panel" style="width:100%;float:left;margin-top:10px;">
	   				<div class="panel-head"><strong>付款记录</strong>&nbsp;&nbsp;&nbsp;共付款&nbsp;&nbsp;<span style="color: #f60"><php>$payment_array_history=get_payment_fail($vo[market_id]);echo get_payment_fail($vo[market_id],1)+1;</php></span>&nbsp;&nbsp;次</div>
	   				<notempty name="payment_array_history">
	   		 		<table class="table">
			   		 	<tr>
			   		 	<td><strong>付款方式</strong></td><td><strong>付款时间</strong><td><strong>失败记录</strong></td>
			   		 	</tr>
			   		 	<volist name="payment_array_history" id="vo_array">		   		 	<tr><td>{$vo_array.payment_style}</td><td>{$vo_array.pay_time}</td><td>{$vo_array.return_result}</td></tr>
			   		 	</volist>
	   		 		</table>
	   		 		<else />
	   		 		<div style="font-size: 16px;font-weight: bold;text-align: center;color:red;">暂无记录</div>
	   		 		</notempty>
	   			</div>
	   			 -->
	   			<div class="panel" style="width:100%;float:left;margin-top:10px;">
      				<div class="panel-head"><strong>其他信息</strong></div>
      				<php>$extra_information=get_payment_fail($web_message_shipping[id]);</php>
					<ul class="list-group">
					<li><strong>付款记录:</strong></br><span>{$extra_information.payment_fail}</span></li>
					<li><strong>IP信息:</strong></br><span>{$extra_information.custome_ip}</span></li>
					<li><strong>历史来源:</strong></br><span>{$extra_information.come_from_history}</span></li>
					</ul>
   				</div>
	         </td>
         </tr>
         </volist>
         </table>
         <else /><div style="font-size: 16px;font-weight: bold;text-align: center;color:red;">暂无历史订单</div>
         </notempty>
   </div>
   
  <!-- <div class="panel" style="width:100%;float:left;margin-top:10px;">
	   	<div class="panel-head"><strong>付款记录</strong><php>$payment_array=get_payment_fail($web_message_shipping[id]);echo $web_message_shipping[id];</php></div>
	   		<notempty name="payment_array">
	   		 	<span></span>
	   		 	<else />
	   		 	<div style="font-size: 16px;font-weight: bold;text-align: center;color:red;">暂无记录</div>
	   		 </notempty>
	</div>
     --> 
	<div class="panel" style="width:100%;float:left;margin-top:10px;">
      <div class="panel-head"><strong>其他信息</strong></div>
      <php>$extra_information=get_payment_fail($web_message_shipping[id]);</php>
		<ul class="list-group">
			<li><strong>付款记录:</strong></br><span>{$extra_information.payment_fail}</span></li>
			<li><strong>IP信息:</strong></br><span>{$extra_information.custome_ip}</span></li>
			<li><strong>历史来源:</strong></br><span>{$extra_information.come_from_history}</span></li>
		</ul>
   	</div>
</div>