<HTML>
<object id="WebBrowser" width=0 height=0 classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2">
</object>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="en" http-equiv="Content-Language">
<style>
.fenye{page-break-after: always}
tr{border-bottom:5px solid red;}
td{padding-left:10px;padding-top:30px;padding-bottom:10px;}
p{font-size:20px;}
</style>
</head>
<body>
<volist name="info" id="vo">
	<div style="padding:10px; width:1200px;margin:auto;height:auto;">
        <p style="margin:0;">
        <img style="border:none; width:340px;" src="http://www.lilysilk.com/mono_images/common/logo.png" title="lilysilk" alt="lilysilk">
        
        </p>	
        <div style="width:100%; float:left;">	
            <div style="font-size:30px; color:#000; width:45%;text-align:left; float:left; margin-right:20px;">	
                <p style="font-size:30px;"><span style="">Dear :</span></p>	
                <p style="font-size:30px;">	
                    Thank you for your purchase from Lilysilk. We do hope you will be satisfied with our products and service. Please check the following order list.	
                </p>	
            </div>	
            <div style="font-size:30px; text-align:left; width:30%; float:right; padding-top:30px;">	
                <span style="font-weight:bold;color:#C63;">Shipping Address:</span><br>	
                GLENDA&nbsp;ANDERSON<br>	
                238 BLACKWATER LANE<br>	
                HOUSTON<br>	
                TEXAS<br>	
                US<br>	
                77015<br>	
                713-858-3612<br>
            </div>
		</div>
        <p style="font-size:32px;">Looking forward for your next visit.	</p>	
        <div style="width:100%;  text-align:left; border:1px solid #000;">	
            <p style="font-size:30px;font-weight:bold;padding-bottom:15px;padding-left:10px;border-bottom:1px solid #000;">
            	Order Number: 	20160050050557218048330&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;R05.05-17&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lilysilk_us
            </p>
            <table style="width:100%;font-size:20px;">
            <tr>
                <th style="width:60%;font-size:28px;padding-left:10px;" align="left">Product Name</th>
                <th style="width:20%;font-size:28px;" align="left">QTY</th>
            </tr>
            <tr>
                <td>
                    <p style="font-size: 32px">19 Momme Terse Silk Pillowcase with Hidden Zipper</p>
                    <p class="product_color">Blue</p>
                    <p>Standard(20" x 30")50*75cm</p>
                    <p>model :4101-12-SNPW</p>
                </td>
                <td>
                    <span>1</span>
                </td>
                <td style="text-align:center;">
                                
                </td>
            </tr>
            <tr>	
                <td class="name">
                    Gift<br>
                    Silk Sleep Eye Mask With Wide Elastic Band	
                </td>	
                <td>
                    1
                </td>			
                <td>&nbsp;</td>
            </tr>
            </table>
        </div>
	</div>
    <p class="fenye" style="text-align:right;font-size:25px;width:1200px;margin:auto;">www.lilysilk.com</p>
</volist>
<script language= "JavaScript">
window.onload=function(){
	 window.print();
}
</script>
</body>
</html>