<div class="admin">

<!-- 
<h1>动画</h1>
<button class="doc-animation button bg-red fadein">
淡入.fadeout</button>
<button class="doc-animation button bg-red fadeout-top">
上淡出.fadeout-top</button>
<button class="doc-animation button bg-red bouncein">
弹入.bouncein</button>
<button class="doc-animation button bg-red bounceout">
弹出.bounceout</button>
<button class="doc-animation button bg-red rotatein">
转入.rotatein</button>
<button class="doc-animation button bg-red rotateout">
转出.rotateout</button>
<button class="doc-animation button bg-red flash">
flash</button>
<button class="doc-animation button bg-red shake">
shake</button><br><br>

<button class="button bg bounce-hover">
	弹跳.bounce-hover</button>
<button class="button bg-red flash-hover">
	闪烁.flash-hover</button>
<button class="button bg-yellow shake-hover">
	震颤.shake-hover</button>
<button class="button bg-blue swing-hover">
	摇摆.swing-hover</button>
<button class="button bg-green wobble-hover">
	摇晃.wobble-hover</button>
<button class="button bg-black ring-hover">
	震铃.ring-hover</button><br><br> -->


<h1>文本颜色</h1>
<p>文本颜色：默认</p>
<p class="text-main">文本颜色：主色</p>
<p class="text-sub">文本颜色：辅色</p>
<p class="text-back">文本颜色：背景色</p>
<p class="text-mix">文本颜色：融合色</p>
<p class="text-dot">文本颜色：点缀色</p>

<p class="text-black">文本颜色：黑色</p>
<p class="text-gray">文本颜色：灰色</p>
<p class="text-white">文本颜色：白色</p>

<p class="text-red">提示颜色：红色</p>
<p class="text-yellow">提示颜色：黄色</p>
<p class="text-blue">提示颜色：蓝色</p>
<p class="text-green">提示颜色：绿色</p>

<p class="text-red-light">提示颜色：淡红</p>
<p class="text-yellow-light">提示颜色：淡黄</p>
<p class="text-blue-light">提示颜色：淡蓝</p>
<p class="text-green-light">提示颜色：淡绿</p>


<h1>背景色</h1>
<p class="bg">背景颜色 默认白</p>
<p class="bg-main">主色背景</p>
<p class="bg-sub bg-inverse">深色背景可设置 文字颜色反转</p>
<p class="bg-yellow bg-inverse radius">圆角</p>


<h1>边框 可以设置 大小、位置、颜色</h1>
<p class="border border-black ">默认边框</p>
<p class="border-top border-small border-main ">小边框</p>
<p class="border-right border-middle border-sub">中边框</p>
<p class="border-top-bottom border-big border-yellow">大边框</p>
<p class="border border-large border-red border-dashed">超大边框</p>
<p class="border border-middle border-green radius ">圆角</p>


<h1>图片</h1>
<img src="__IMG__/face.jpg" width="128" height="128" class="radius-small" />
<img src="__IMG__/face.jpg" width="128" height="128" class="radius img-border padding-big border-yellow" />
<img src="__IMG__/face.jpg" width="128" height="128" class="radius-big" />
<img src="__IMG__/face.jpg" width="128" height="128" class="radius-circle" />
<img src="__IMG__/face.jpg" class="img-responsive" alt="响应式图片" />


<h1>表单</h1>
<form class="">
	<div class="form-group">
		<label class="label form-x">文本框</label>
		<input type="text" class="input form-x" placeholder="文本框" />
	</div>
	<div class="input-note">提示信息</div>
	
	<label class="label">多行文本框</label>
	<textarea rows="5" class="input" placeholder="多行文本框"></textarea>
	
	<label class="label">上传文件</label>
	<a class="button input-file bg-green">+ 浏览文件<input size="100" type="file" /></a>
	
	<label class="label">选择框：</label>
	<select class="input">
		<option>起步</option>
		<option>CSS</option>
		<option>元件</option>
		<option>模块</option>
		<option>javascript组件</option>
	</select>
	
	<label class="label">单选框：</label>
	<input name="pintuer" value="yes" type="radio">是
	<input name="pintuer" value="no" type="radio">否
	
	<label class="label">复选框：</label>
	<div class="button-group checkbox">
		<input name="pintuer" value="1" type="checkbox">起步
		<input name="pintuer" value="2" type="checkbox">CSS
		<input name="pintuer" value="3" type="checkbox">元件
	</div>
	
	<label class="label">大文本框</label>
	<input type="text" class="input input-big" placeholder="文本框" />
</form>


<h1>按钮 可以于button,input,a等元素。</h1>
<button class="button">默认</button>
<button class="button border-main">主色</button>
<button class="button border-sub">辅色</button>
<button class="button border-back">背景色</button>
<button class="button border-mix">融合色</button>
<button class="button border-dot">点缀色</button>
<button class="button border-black">黑色</button>
<button class="button border-gray">灰色</button>
<button class="button border-white">白色</button><br>


<button class="button bg">默认</button>
<button class="button bg-main">主色</button>
<button class="button bg-sub">辅色</button>
<button class="button bg-back">背景色</button>
<button class="button bg-mix">融合色</button>
<button class="button bg-dot radius-none">点缀色</button>
<button class="button bg-black">黑色</button>
<button class="button bg-gray">灰色</button>
<button class="button bg-white">白色</button><br>

<button class="button button-large bg-dot">...</button>
<button class="button button-big bg-dot">...</button>
<button class="button bg-dot">...</button>
<button class="button button-small bg-dot">...</button>
<button class="button button-little bg-dot">...</button>
<button class="button button-block bg-dot">...</button>

<button class="button icon-heart bg-yellow">爱好</button>

<!-- 
<h1>列表</h1>
<ul>
	<li>拼图前端框架，是一款开源的专业网页前端UI解决方案。</li>
	<li>是HTML、CSS、Javascrip三者结合的前端框架。</li>
	<li>配合js效果，提供了拼图的CSS、HTML标准。</li>
	<li>方便个性化、人性化的前端设计方法。</li>
	<li>受到设计师、前端工程师、程序员及网页设计初学者的喜爱。
		<ul>
			<li>拼图前端框架，是一款开源的专业网页前端UI解决方案。</li>
			<li>是HTML、CSS、Javascrip三者结合的前端框架。</li>
			<li>配合js效果，提供了拼图的CSS、HTML标准。</li>
			<li>方便个性化、人性化的前端设计方法。</li>
			<li>受到设计师、前端工程师、程序员及网页设计初学者的喜爱。</li>
		</ul>
	</li>
	<li>拼图框架提供了CSS的重定义、元件样式的预设。</li>
	<li>拼图框架提供了CSS的重定义、元件样式的预设、样式组件、风格模块及Javascript效果。</li>
	<li>丰富了页面效果，同时让前端设计简单化、傻瓜化。</li>
	<li>任何初学者都可快速建设美观、简洁的页面。</li>
</ul>

<ol class="list-alpha">
	<li>拼图前端框架，是一款开源的专业网页前端UI解决方案。</li>
	<li>是HTML、CSS、Javascrip三者结合的前端框架。</li>
	<li>配合js效果，提供了拼图的CSS、HTML标准。</li>
	<li>方便个性化、人性化的前端设计方法。</li>
	<li>受到设计师、前端工程师、程序员及网页设计初学者的喜爱。</li>
	<li>拼图框架提供了CSS的重定义、元件样式的预设。</li>
	<li>拼图框架提供了CSS的重定义、元件样式的预设、样式组件、风格模块及Javascript效果。</li>
	<li>丰富了页面效果，同时让前端设计简单化、傻瓜化。</li>
	<li>任何初学者都可快速建设美观、简洁的页面。</li>
</ol>

<ul class="list-inline">
	<li>拼图框架</li>
	<li>起步</li>
	<li>CSS效果</li>
	<li>元件</li>
</ul>

<dl class="dl-inline">
	<dt>拼图框架</dt>
	<dd>是一款开源的专业网页前端UI解决方案</dd>
	<dt>框架应用</dt>
	<dd>配合js效果，提供了拼图的CSS、HTML标准。</dd>
	<dt>广受欢迎</dt>
	<dd>受到设计师、前端工程师、程序员及网页设计初学者的喜爱。</dd>
</dl> -->


<h1>表格 可选样式：border,条纹,hover,</h1>
<table class="table table-bordered table-striped table-hover table-condensed">
	<tr><th>起步</th><th>CSS</th><th>元件</th><th>模块</th></tr>
	<tr><td>下载前端框架</td><td>文本</td><td>	网格系统</td><td>框架</td></tr>
	<tr><td>框架包含的文件</td><td>图片</td><td>图标</td><td>头部</td></tr>
	<tr><td>基本页面</td><td>水平线</td><td>标签</td><td>Banner</td></tr>
	<tr><td>响应式布局</td><td>按钮</td><td>徽章</td><td>导航</td></tr>
	<tr><td>浏览器支持</td><td>列表</td><td>进度条</td><td>面包屑</td>	</tr>
</table>


<h1>标签(tag)</h1>
<span class="tag bg-red">危险</span>
<span class="tag bg-yellow">警告</span>
<span class="tag bg-blue">主要</span>
<span class="tag bg-green">成功</span><br>

<h1>徽章 (badge)<small>当span内没内容时，徽章会自动消失</small></h1>
<a href="#">已读 <span class="badge bg-dot">99+</span></a>

<h1>角标(badge-corner)</h1>
<a href="#" class="button bg-main badge-corner">已读 <span class="badge bg-dot">99+</span></a>

<!-- <h1>下拉菜单(drop)</h1>
<div class="drop pull-right">
	<ul class="drop-menu">
		<li><a href="#">起步</a></li>
		<li><a href="#">CSS</a></li>
		<li><a href="#">元件</a></li>
		<li class="divider"></li>
		<li><a href="#">动画</a></li>
		<li><a href="#">模块</a></li>
	</ul>
</div> -->


<!-- <h1>导航1</h1>
<button class="button icon-navicon" data-target="#nav-link1">导航1</button>
<ul class="nav nav-navicon" id="nav-link1">
	<li class="nav-head">拼图</li>
	<li><a href="#">首页</a> </li>
	<li><a href="#">CSS</a> </li>
	<li class="active"><a href="#">元件</a> </li>
	<li class="nav-more"><a href="#">更多</a> </li>
</ul> -->


<h1>导航 含子菜单</h1>
<div class="xs4 xm3 xb2">
<ul class="nav nav-menu">
	<li class="nav-head">拼图</li>
	<li><a href="#">首页</a> </li>
	<li><a href="#">CSS</a> </li>
	<li><a href="#">元件<span class="arrow"></span></a>
		<ul class="drop-menu">
			<li><a href="#">概述</a> </li>
			<li><a href="#">网格系统<span class="arrow"></span></a>
				<ul>
					<li><a href="#">响应式布局</a> </li>
					<li><a href="#">非响应式布局</a> </li>
				</ul>
			</li>
			<li><a href="#">图标</a> </li>
		</ul>
	</li>
	<li class="nav-more"><a href="#">更多<span class="arrow"></span></a>
		<ul class="drop-menu">
			<li><a href="#">组件</a> </li>
			<li><a href="#">模块<span class="arrow"></span></a>
				<ul>
					<li><a href="#">头部</a> </li>
					<li><a href="#">导航</a> </li>
					<li><a href="#">底部</a> </li>
				</ul>
			</li>
		</ul>
	</li>
</ul>
</div>
<div class="clearfix"></div>

<h1>导航 横向 右侧 分割线</h1>
<!-- 大菜单.nav-big 标签风格.nav-tab 胶囊风格.nav-pills  --->
<ul class="nav nav-menu nav-inline nav-right nav-split nav-sub border-red" id="nav-link3">
	<li class="nav-head">拼图</li>
	<li><a href="#">首页</a> </li>
	<li><a href="#">CSS</a> </li>
	<li class="active"><a href="#">元件<span class="arrow"></span></a>
		<ul class="drop-menu">
			<li><a href="#">概述</a> </li>
			<li><a href="#">网格系统<span class="arrow"></span></a>
				<ul>
					<li><a href="#">响应式布局</a> </li>
					<li><a href="#">非响应式布局</a> </li>
				</ul>
			</li>
			<li><a href="#">图标</a> </li>
		</ul>
	</li>
	<li class="nav-more"><a href="#">更多<span class="arrow"></span></a>
		<ul class="drop-menu">
			<li><a href="#">组件</a> </li>
			<li><a href="#">模块<span class="arrow"></span></a>
				<ul>
					<li><a href="#">头部</a> </li>
					<li><a href="#">导航</a> </li>
					<li><a href="#">底部</a> </li>
				</ul>
			</li>
		</ul>
	</li>
</ul>

<h1>导航 颜色</h1>
<ul class="nav nav-menu nav-inline nav-main nav-justified border-red">
	<li class="nav-head">拼图</li>
	<li><a href="#">首页</a> </li>
	<li><a href="#">CSS</a> </li>
	<li class="active"><a href="#">元件<span class="arrow"></span></a>
		<ul class="drop-menu nav-sub">
			<li><a href="#">概述</a> </li>
			<li><a href="#">网格系统<span class="arrow"></span></a>
				<ul>
					<li><a href="#">响应式布局</a> </li>
					<li><a href="#">非响应式布局</a> </li>
				</ul>
			</li>
			<li><a href="#">图标</a> </li>
		</ul>
	</li>
	<li class="nav-more"><a href="#">更多<span class="arrow"></span></a>
		<ul class="drop-menu">
			<li><a href="#">组件</a> </li>
			<li><a href="#">模块<span class="arrow"></span></a>
				<ul>
					<li><a href="#">头部</a> </li>
					<li><a href="#">导航</a> </li>
					<li><a href="#">底部</a> </li>
				</ul>
			</li>
		</ul>
	</li>
</ul>
<div class="bg-yellow bg-inverse radius" id="nav-bg2">
	<ul class="nav nav-inline nav-menu nav-split clearfix">
		<li class="nav-head">拼图</li>
		<li><a href="#">首页</a> </li>
		<li><a href="#">CSS</a> </li>
		<li class="active"><a href="#">元件<span class="arrow"></span></a>
			<ul class="drop-menu">
				<li><a href="#">概述</a> </li>
				<li><a href="#">网格系统<span class="arrow"></span></a>
					<ul>
						<li><a href="#">响应式布局</a> </li>
						<li><a href="#">非响应式布局</a> </li>
					</ul>
				</li>
				<li><a href="#">图标</a> </li>
			</ul>
		</li>
		<li class="nav-more"><a href="#">更多<span class="arrow"></span></a>
			<ul class="drop-menu">
				<li><a href="#">组件</a> </li>
				<li><a href="#">模块<span class="arrow"></span></a>
					<ul>
						<li><a href="#">头部</a> </li>
						<li><a href="#">导航</a> </li>
						<li><a href="#">底部</a> </li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>


<h1>进度条</h1>
<div class="progress progress-big progress-striped bg-main active">
	<div class="progress-bar bg-yellow" style="width: 56%;">
		进度：56%</div>
</div>


<h1>下拉按钮</h1>
<!-- 上拉.dropup   -->
<div class="button-group border-blue">
	<button type="button" class="button dropdown-hover">
		移入 <span class="downward"></span>
	</button>
	<ul class="drop-menu">
		<li><a href="#">动画</a></li>
		<li><a href="#">模块</a></li>
	</ul>
</div>
<div class="button-group border-red">
	<button type="button" class="button dropdown-toggle">
		起步 <span class="downward"></span>
	<iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></button>
	<ul class="drop-menu">
		<li><a href="#">动画</a> </li>
		<li><a href="#">模块</a> </li>
	</ul>
</div>

<!-- <h1>选择</h1>
<ul class="selected-inline">
	<li>起步</li>
	<li class="selected">CSS</li>
	<li>元件</li>
</ul> -->


<h1>单选框</h1>
<div class="field">
	<div class="button-group radio">
		<label class="button active">
			<input name="pintuer" value="yes" checked="checked" type="radio"><span class="icon icon-check"></span> 记住吧
		</label>
		<label class="button">
			<input name="pintuer" value="no" type="radio"><span class="icon icon-times"></span> 不想记住
		</label>
	</div>
</div>


<h1>面包屑</h1>
<ul class="bread">
    <li><a href="#" class="icon-home">首页</a> </li>
    <li><a href="#">新闻中心</a> </li>
    <li><a href="#">公司新闻</a> </li>
    <li>正文</li>
</ul>
<ul class="bread bg-green bg-inverse">
	<li><a href="#" class="icon-home">首页</a> </li>
    <li><a href="#">新闻中心</a> </li>
    <li><a href="#">公司新闻</a> </li>
    <li>正文</li>
</ul>


<h1>步骤顺序</h1>
<div class="step">
    <div class="step-bar complete" style="width: 25%;">
        <span class="step-point icon-check"></span><span class="step-text">第一步</span></span>
    </div>
    <div class="step-bar complete" style="width: 25%;">
        <span class="step-point">2</span><span class="step-text">第二步</span>
    </div>
    <div class="step-bar active" style="width: 25%;">
        <span class="step-point">3</span><span class="step-text">第三步</span>
    </div>
    <div class="step-bar" style="width: 25%;">
        <span class="step-point">4</span><span class="step-text">第四步</span>
    </div>
</div>


<h1>分页</h1>
<ul class="pagination pagination-group">
    <li class="disabled"><a href="#">«</a></li>
    <li><a href="#">1</a></li>
    <li class="active"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">»</a></li>
</ul>
<ul class="pagination border-main">
	<li class="disabled"><a href="#">«</a> </li>
	<li><a href="#">1</a> </li>
	<li style="border:none;">. . .</li>
	<li class="active"><a href="#">2</a> </li>
	<li><a href="#">3</a> </li>
	<li><a href="#">4</a> </li>
	<li style="border:none;">. . .</li>
	<li><a href="#">5</a> </li>
	<li><a href="#">»</a> </li>
</ul>


<h1>其它常用类： </h1>
.show .hidden .float-left .float-right .margin-large-top

</div>