<style>
.form-x .form-group .label{width:80px;text-align: left}
.form-x .form-button {margin:0}
</style>
<div class="admin">

<h1>{$code.code}({$code.name})</h1>
<form method="post" action="" class="form-x margin-large-top">
	<div class="form-group">
		<div class="label">
			<label for="sku">sku：</label>
		</div>
		<div class="field">
			<input type="text" class="input" id="sku" name="sku" size="30" />
		</div>
	</div>
	<div class="form-group">
		<div class="label">
			<label for="sort_id">来源：</label>
		</div>
		<div class="field">
			<select class="input" name="come_from_id">
				<volist name="come_from_list" id="come_from_vo">
				<option value="{$come_from_vo.id}" >{$come_from_vo.name}</option>
				</volist>
			</select>
		</div>
	</div>
	
	<div class="form-button">
		<button class="button border-black padding-small" type="submit">提交</button>
	</div>
</form>

</div>