<div class="admin">

	<form action="" method="post" name="form" id="myform">
		
			<table width="98%" border="0" cellpadding="4" cellspacing="1" class="table">

				<tr class="table_title">
					<td colspan="4">{$tpltitle}来源</td>
				</tr>

				<tr class="tr rt">
					<td width="100">来源名称：</td>
					<td colspan="3" class="lt">
						<input type="text" name="name" id="name" style="width:200px" value="{$row.name}" >
					</td>
				</tr>
				
				<tr class="tr rt">
					<td width="100">属性：</td>
					<td colspan="3" class="lt">
						<select name="style">
							<option value="web" <eq name="row.style" value="web">selected="selected"</eq> >网站</option>
							<option value="plat" <eq name="row.style" value="plat">selected="selected"</eq> >平台</option>
						</select>
					</td>
				</tr>
				
				<tr class="tr lt">
					<td colspan="4">
						<notempty name="row" value="0">
							<input class="bginput" type="submit" name="dosubmit" value="修 改" >
							<else />
							<input class="bginput" type="submit" name="dosubmit" value="添 加"></notempty>
						&nbsp;
						<input type="hidden" name="id" value="{$row.id}" >
						<input class="bginput" type="button" onclick="javascript:history.back(-1);" value="返 回" >
					</td>
				</tr>
			</table>
	</form>

</div>