<form action="{:U('/Admin/ProductReturn/product_return_act/act/add')}" method="post">
<table class="table table-bordered table-striped table-hover table-condensed" width="98%" border="0" cellpadding="5" cellspacing="1" class="table" style="margin-top:10px;">
<tr>
<td colspan="5">具体产品</td>
</tr>
<tr>
<td>勾选</td><td>产品名</td><td>价格</td><td>数量</td><td>状态</td>
</tr>
<input type="hidden" value="{$order_id}" name="order_id">
<input type="hidden" value="{$come_from}" name="come_from">
<volist name="order_product" id="vo">
<tr>
<td>
<input type="checkbox" name="product_id[]" value="{$vo.id}"  <if condition="$vo.status eq '退货'">checked="checked"</if> ></td>
<td>{$vo.name}</td><td>{$vo.price}</td><td>{$vo.number}</td><td id="status_{$vo.id}">{$vo.status}</td>
</tr>
</volist>
<tr class="tr rt">
    	<td colspan="3" class="lt">
		<span class="fl">退回地：</span><input type="text" name="place">
        </td>
</tr>
<tr class="tr rt">
    	<td colspan="3" class="lt">
		<span class="fl">操作人：</span><input type="text" name="operator" readonly="readonly" value="{$username}">
        </td>
</tr>
<tr class="tr rt" style="border-bottom:1px solid #ddd;">
    	<td colspan="3" class="lt">
		<input type="submit" value="提 交">
        </td>
</tr>
</table>
</form>