<include file="Messages/messages_head" />
<style>
.middle{ padding:30px; overflow:auto;}
.middle_ul li{ height:30px; line-height:30px; margin-top:5px; font-size:16px;}
.middle_ul p{ margin:0; height:25px; line-height:25px; margin-left:20px; color:#CCC;}
.middle_ul p a{color: #999; font-size:10px;}
.middle_ul a{ display:block;}

.Rr{background: url(https://res.mail.qq.com/bizmail/zh_CN/htmledition/images/newicon/mail16f25f.png) -48px -16px no-repeat; width: 18px; height: 16px;}
.no{background: url(https://res.mail.qq.com/bizmail/zh_CN/htmledition/images/newicon/mail16f25f.png) -48px 0px no-repeat; width: 18px; height: 16px;}
</style>
<div class="middle">
<table class="table  table-striped table-hover table-condensed">
	<tr>
    	<td></td>
        <td></td>
        <td>发件人</td>
        <td>主题</td>
        <td>时间</td>
    
    </tr>
    <volist name="receive_list" id="vo">
		<tr>
       		<td>
             	<input class="check" name="check[]" type="checkbox" value="{$vo.id}">  
            </td>
            <td><div <if condition="$vo.is_see eq 0">class="no" <else />class="Rr"</if>></div></td>
            <td>
               <span > {$vo[main][operator]} </span>
            </td>
            <td>
            	<a href="__CONTROLLER__/receive_info/id/{$vo['main']['id']}.html">
                    <if condition="$vo['main']['theme'] eq ''">
                        {:msubstr(strip_tags(htmlspecialchars_decode($vo['main']['content'])),0,30)}
                    <else />
                        {$vo['main']['theme']}
                    </if>  
                    
                    
                    {:msubstr(strip_tags(htmlspecialchars_decode($vo['main']['content'])),0,20)}    
                </a> 
            </td>
            <td>{$vo['main']['date_time']}</td>
    	</tr>
    </volist>
</table>

<div class="list-page">
    <empty name="page">暂时没有相关数据<else />{$page}</empty>
</div>
</div>
   
<include file="Messages/messages_right_foot" />    