<div class="admin">
	<table class="table  table-striped table-hover table-condensed" width="98%" border="0" cellpadding="5" cellspacing="1">
		<tr>
			<td colspan="9" class="table_title tab_title">
				<span class="fl icon-align-justify"> 产品申请管理</span>
				<span class="fr">
					<a href="{:U('/Admin/ProductManage/product_new_add')}" class="icon-plus-circle"> 添加产品申请</a>
				</span>
			</td>
			<tr class="list_head ct">
				<td width="50" align='left'>ID</td>
				<td width="200" align='left'>产品名称</td>
				<!--<td >产品描述</td>-->
                <td width="70" align='left'>审核人</td>
                <td width="150" align='center'>提交时间</td>
                <td width="130" align='center'>状态</td>
                <td width="150" align='center'>状态变动时间</td>
				<td width="180" align='center'>管理操作</td>
			</tr>
	    <volist name="list" id="vo">
			<tr class='<eq name="mod" value="1">tr<else/>ji</eq>'>
				<td align='left' class="td_number">{$vo.id}</td>
				<td class="td_cc">{:username_name($vo['name'])}</td>
				<!--<td >{$vo.message}</td>-->
                <td ><if condition='$vo.examination neq ""'>{$vo.examination}<else />正在审核</if></td>
                <td align='center' class="td_ff">{$vo.applicant_time|date="Y-m-d H:i:s ",###}</td>
                <td align='center'>{$vo.sta}</td>
                <td align='center'>{$vo.examination_time|date="Y-m-d H:i:s ",###}</td>
                <td align='center'>
                   <if condition="$vo['status'] eq 3">
                     <a  href="{:U('/Admin/ProductManage/product_new_received/',array('id'=>$vo['id'] ))}" >完成收货</a>
                   <else />
                     <a  <if condition="($vo['status'] eq 0) or ($vo['status'] eq 9) or ($vo['status'] eq 8)"> href="{:U('/Admin/ProductManage/product_new_add/',array('id'=>$vo['id'] ))}" <else / >style="color:#CCC;"</if>>修改</a>
					<!--| <a  <if condition="($vo['status'] eq 0) or ($vo['status'] eq 9)"> href="{:U('/Admin/ProductManage/product_new_del/',array('id'=>$vo['id']))}" onclick="return confirm('确定删除该角色吗?')" <else / >style="color:#CCC;"</if>>删除</a>-->
                    | <a  <if condition="($vo['status'] eq 0) or ($vo['status'] eq 4) or ($vo['status'] eq 9)"> href="{:U('/Admin/ProductManage/product_new_out/',array('id'=>$vo['id'],'status'=>8))}" onclick="return confirm('确定放弃该申请吗?')" <else / >style="color:#CCC;"</if>>放弃</a>
                    | <a <if condition="($vo['status'] eq 9) or ($vo['status'] eq 8)">  href="{:U('/Admin/ProductManage/product_new_again/',array('id'=>$vo['id'],'status'=>'0'))}" onclick="return confirm('确定要重新审核吗?')" <else / >style="color:#CCC;"</if>>申请重审</a>
                  </if>  
				</td>
			</tr>
	    </volist>
		</table>
</div>