<div class="admin">
<gt name="info.id" value="0">
			<form action="{:U('/Admin/ProductManage/product_fba_edit')}" method="post" name="form" id="myform">
			<input type="hidden" name="id" value="{$info.id}">
		<else />
			<form action="{:U('/Admin/ProductManage/product_fba_add')}" method="post" name="form" id="myform">
		</gt>
			<table width="98%" border="0" cellpadding="4" cellspacing="1" class="table">

				<tr class="table_title">
					<td colspan="4">{$tpltitle} 产品FBA</td>
				</tr>

				<tr class="tr rt">
					<td width="100">产品名称：</td>
					<td colspan="3" class="lt">
						<input type="text" name="name" id="name" class="admin_input" value="{$info.name}" >
					</td>
				</tr>
				<tr class="tr rt">
					<td width="100">code名称：</td>
					<td colspan="3" class="lt">
						<input type="text" name="code" id="name" class="admin_input" value="{$info.code}" >
					</td>
				</tr>
				<tr class="tr rt">
					<td width="100">产品总数量：</td>
					<td colspan="3" class="lt">
						<input type="text" name="total_number" id="name" class="admin_input" value="{$info.total_number}" >
					</td>
				</tr>
	<tr class="tr lt">
		<td colspan="4">
			<gt name="info.id" value="0">
				<input class="button border-main" type="submit" name="dosubmit" value="修 改" >
				<else />
				<input class="button border-main" type="submit" name="dosubmit" value="添 加"></gt>
			&nbsp;
			<input class="button border-main" type="button" onclick="javascript:history.back(-1);" value="返 回" ></td>
	</tr>
</table>
</form>
</div>