<script src="__JS__/CodeManage/main.js?v={:time()}"></script>
<script src="__JS__/productOut/productoutList.js"></script>
<script src="__JS__/productstock/product_stock_set_apply_add.js"></script>
<div class="admin">
<table class="table  table-striped table-hover table-condensed" width="98%" border="0" cellpadding="5" cellspacing="1"  id="stock_dp" style='margin-bottom:20px;'>
    <tr>
        <td colspan="5" class="table_title tab_title">
            <span class="fl icon-align-justify"> 库存次品列表 （{$tpltitle}）</span>
            <a href="{:U('Admin/ProductManage/product_stock_inforier_list')}"  class="plcz ">全部</a>
            <a href="{:U('Admin/ProductManage/product_stock_inforier_list/type/dp')}" class="plcz ">单品</a>
            <a href="{:U('Admin/ProductManage/product_stock_inforier_list/type/tj')}" class="plcz ">套件</a>
            <a href="{:U('Admin/ProductManage/product_stock_inforier_add')}" class='fr icon-plus-circle'> 次品录入</a>
        </td>
        </tr>
    </table>
	<div class="tab">
		<div class="tab-head">
       	 <ul class="tab-nav">次品录入
          <li class="active"><a href="#tab-set">单品次品录入</a></li>
          <li><a href="#tab-email">套件次品录入</a></li>
         </ul>
     	 </div>
     	 <div class="tab-body">
     	 <div class="tab-panel active" id="tab-set">
     	 <form action="__ACTION__" method="post" name="form" id="myform">
		 <input type="hidden" name='type' value="dp" />
        <table width="98%" border="0" cellpadding="4" cellspacing="1" class="table">
        
                        <tr class="table_title">
                            <td colspan="4">单品库存盘点</td>
                        </tr>
                        
                    <empty name="info">
                        <tr class="tr rt">
                            <td width="100">分   类：</td>
                            <td colspan="3" class="lt">
                                <select name="catalog" onchange="get_product_of_catalog(this.value)"  <if condition="$Think.get.relate_id neq null">disabled="disabled"</if> > 
                                      <option value="-1">--请选择--</option>
                                      <volist name="catalog" id="vo">
                                         <option value='{$vo.id}' <eq name="row['code_info'][catalog_id]" value="$vo.id">selected=""</eq>>{$vo.name}</option>
                                      </volist>
                                </select>
                            </td>
                        </tr>
                        <tr class="tr rt">
                            <td width="100">产   品：</td>
                            <td colspan="3" class="lt">
                                <select  name="product_id" id="product_id" onchange="get_product_of_code_option(this.value)"  <if condition="$Think.get.relate_id neq null">disabled="disabled"</if> >
                                      <option value="-1">--请选择--</option>
                                      <volist name="product_list" id="vo">
                                         <option value='{$vo.id}' <eq name="row['code_info'][product_id]" value="$vo.id">selected=""</eq>>{$vo.name}</option>
                                      </volist>
                                </select>
                            </td>
                        </tr>
                        <tr class="tr rt">
                            <td width="100">code：</td>
                            <td colspan="3" class="lt">
                                <select check="-1" msg="必须选择code！" name="code_name" id="product_code_id" <if condition="$Think.get.relate_id neq null">disabled="disabled"</if> >
                                    <option value="-1" >--请选择--</option>
                                    <volist name="code_list" id="code_vo">
                                    <option value="{$code_vo.id}" <if condition="$code_vo.id eq $row['product_code_id']">selected="selected"</if> >{$code_vo['code']} ( name: {$code_vo['name']} ) </option>
                                    </volist>
                                </select>
                            </td>
                        </tr>
                    <else/>
                        <tr class="tr rt">
                            <td width="100">C o d e&nbsp;&nbsp;：</td>
                            <td colspan="3" class="lt">
                                <span>{$info.code_code} - {$info.code_name}</span>
                                <input type="hidden" name="code_name" value="{$info.code_id}" readOnly="readOnly"/>
                            </td>
                        </tr>
                    </empty>
                    
                        <tr class="tr rt">
                            <td width="100">次品数量：</td>
                            <td colspan="3" class="lt">
                                <input check="number" msg="数量必须填写数字！" type="text" name="number" id="number" style="width:200px" > 
                            </td>
                        </tr>
                        <tr class="tr rt">
                            <td width="100">次品备注：</td>
                            <td colspan="3" class="lt">
                                <input  type="text" name="message" id="message" style="width:200px" >
                            </td>
                        </tr>
                        
            <tr class="tr lt">
                <td colspan="4">
                    <gt name="info.id" value="0">
                        <input class="bginput" type="submit" name="dosubmit" value="修 改" onclick="return check_form('myform')">
                        <else />
                        <input class="bginput" type="submit" name="dosubmit" value="添 加" onclick="return check_form('myform')"></gt>
                    &nbsp;
                    <input class="bginput" type="button" onclick="javascript:history.back(-1);" value="返 回" ></td>
            </tr>
        </table>
        </form>
		</div>
        <div class="tab-panel" id="tab-email">
        	<form action="__ACTION__" method="post" id="myform2">
             <input type="hidden" name='type' value="tj" />
        	<table width="98%" border="0" cellpadding="4" cellspacing="1" class="table">
            <tr class="table_title">
                            <td colspan="4">套件库存盘点</td>
                        </tr>
        	<tr class="tr rt">
				<td width="100">来　　源：</td>
				<td colspan="3" class="lt">
					<select onchange="get_set_sku(this.value)" name="come_from" style=" min-width:100px">{$come_from}</select>
				</td>
			</tr>
			<tr class="tr rt">
				<td width="100">套件sku：</td>
				<td colspan="3" class="lt">
                    <select check="0" msg="必须选择一个sku！" id="sku" name="sku" style=" min-width:100px">
                   		<option value="0">---</option>
					</select>
				</td>
			</tr>
			 <tr class="tr rt">
					<td width="100">次品数量：</td>
					<td colspan="3" class="lt">
						<input check="number" msg="数量必须填写!" type="text" name="number" id="number" style="width:200px" >
					</td>
				</tr>
                <tr class="tr rt">
					<td width="100">次品备注：</td>
					<td colspan="3" class="lt">
						<input  type="text" name="message" id="message" style="width:200px" >
					</td>
				</tr>
				<tr class="tr lt">
				<td colspan="4">
					<input class="bginput" type="submit" name="dosubmit" value="添 加" onclick="return check_form('myform2')">
					&nbsp;
					<input class="bginput" type="button" onclick="javascript:history.back(-1);" value="返 回" ></td>
				</tr>
        	</table>
        	</form>
        </div>
      </div>
     </div>
</div>
