<script src="__JS__/FactoryManage/main.js"></script>
<script>
function fba_to_factory(fba_detail_id)
{
	layer.open({
		type: 1,
		title: "运单信息",
		closeBtn: 1,
		area: ['500px', '200px'],
		shadeClose: false,
		skin: 'layui-layer-lan',
		content: "<form action='{:U('/Admin/FactoryManage/fba_to_factory')}' method='post'><div><ul class='list-group'><li><strong>工厂:</strong>&nbsp;&nbsp;<select style='width:150px; height:24px;' class='bd' name='factory_id'><volist name='factory_list' id='vo'><option value='{$vo.id}'>{$vo.name}</option></volist></select><input type='hidden' name='fba_detail_id' value='"+fba_detail_id+"'></li><li><input type='submit' class='button border-blue' value='提交'></li></ul></div></form>",
});
}
</script>
<style>
.table td{vertical-align:middle; } 
</style>
<div class="admin">
	<div class="remark">
    	<ul class="ul">
        	<li <if condition="$sta eq 'new'">class="action"</if>>
            	<a href="__ACTION__/sta/new.html" > 新单 <span class="badge bg-dot">{$list_new_coun}</span></a>
            </li>
          	<li <if condition="$sta eq 'history'">class="action"</if>>
            	<a href="__ACTION__/sta/history.html" > 历史订单 <span class="badge remark_bg">{$list_history_coun}</span></a>
            </li>
            <li <if condition="$detail_sta eq 'cancel'">class="action"</if>>
            	<a href="__ACTION__/detail_sta/cancel.html" >已取消 <span class="badge remark_bg">{$coun_cancel}</span></a>
            </li> 
            <li <if condition="$data eq 'web'">class="action"</if>>
            	<a href="__ACTION__/data/web.html" > 网站 <span class="badge bg-dot">{$list_web_coun}</span></a>
            </li>
          	<li <if condition="$data eq 'plat'">class="action"</if>>
            	<a href="__ACTION__/data/plat.html" > 平台 <span class="badge remark_bg">{$list_plat_coun}</span></a>
            </li>
            
            
        </ul>
        <div style=" clear:both;" ></div>
        <br>    
        <p style="margin-left:20px; font-size:12px;">
        	<input type="text" style="width:240px; height:24px;" name="order_num" class='bd' id="order_num" placeholder='请输入交易单号'  value="{$order_num}" /><span onclick="order_num_sub('FbaOrder')"  class="plcz" style="cursor:pointer; position: relative;right:45px;border-radius: 0px 4px 4px 0px;">筛选</span>
             
        </p>  
        
    </div>
	<form  method="post" name="form" id="myform">
    <input type="hidden" value="{$input_sta}"  name="sta"/>
    <input type="hidden" value="{$sta}"  name="execl_sta"/>
    <input type="hidden" value="{$type}"  name="factory_type"/>
    <div class="tab-panel" id="tab-not">
         <table class="table  table-striped table-hover table-condensed" width="98%" border="0" cellpadding="5" cellspacing="1" id="come_dp">
            <tr>
            <td colspan="9" class="table_title tab_title">
                <span class="fl icon-align-justify"> FBA订单管理</span>
                <span style="font-size:14px;"><a onclick="select_all()" class="icon-arrows-v margin-left" href="#"> 全选 </a></span>
                <if condition="$sta neq 'history'">
				    <span style="font-size:14px;"><input class="plcz" type="button"  onclick="plcz_form_submit()" value="批量转历史" /> </span>
                </if>
                <span class="fr">
                	<input class="plcz" type="button"  onclick="execl_export_Fba()"  value="导出订单" />
                </span>
            </td>
            <tr class="list_head ct">
            	<td width="2%"></td>
                <td width="2%"></td>
                <td align='left' style=" min-width: 110px;">交易单号</td>
                <td align='left' style=" min-width: 120px;">工厂单号</td>                 
                <td align='left'>来源</td>
                <td align='center'>提交时间</td>
                <td align='left'>备注</td>
                <td  style="min-width: 70px; max-width:70px;">状态</td>
                <td align='center'>管理操作</td>
            </tr>
        <volist name="info" id="vo" key="a">
            <tr>
                <td>
                <if condition="$vo['status'] neq 'history'">
                	<input class="check" name="check[]" type="checkbox" value="{$vo.id}"  />
                </if>
                </td>
                <td>{$a}</td>
                <td  class="td_ff">
                	<a href="{$vo.url}" style=" color:#03F; text-decoration: underline;" target="_blank">
                    {$vo.order_number}
                    </a>
                    <div style=" margin-top:3px;">
                    	<?php
                        	if($vo['order_id'])
                            {
                        		$product_extra = product_extra($vo['order_id'],"<br>");
                        		echo '<div>'.$product_extra.'</div>';
                                if(panduan_sample($vo['order_id'],$vo['come_from_id']))
                                {
                                    echo '<div>有样布</div>';
                                }
                                echo '<div>'.payment_style($vo['order_id']).'</div>';
                                echo '<div>'.product_customization($vo['order_id']).'</div>';
                                $num = all_order_number($vo['order_id'],'web');
                                if($num != 1 && $num != 0)
                                {
                                	echo '<div>该用户还有其他'.($num-1).'条订单</div>';
                                }
                                if(order_cancel($vo['order_id'],'web'))
                                {
                                	echo '<div>有取消订单</div>';
                                }
                                $malicious_user = malicious_user($vo['order_id']);
                                if($malicious_user)
                                {
                                	echo '<div>'.$malicious_user.'</div>';
                                }
                            }
                            if($vo['orderplatform_id'])
                            {
                                $num = all_order_number($vo['orderplatform_id'],'plat');
                                if( $num!= 1 &&  $num != 0)
                                {
                                	echo '<div>该用户还有其他'.( $num-1).'条订单</div>';
                                }
                                if(order_cancel($vo['orderplatform_id'],'plat'))
                                {
                                	echo '<div>有取消订单</div>';
                                }
                            }
                        ?>
                    </div>
                </td>
                <td  class="td_ff">
                	{$type}{$vo.order}<?php echo (date('m.d',strtotime($vo["date"]))); ?>-<if condition="$vo.number lt 10">0</if>{$vo.number}
                </td>
                <td>{$vo.come_from}</td>
                <td align="center">{$vo.date} {$vo.date_detail}</td>
                <td class="td_cc">
                     <volist name='vo.fba_order_detail' id="vo2" key='k'>
                   	   <if condition='$k gt 1'><if condition='$k elt $vo.coun '><hr /></if></if>
                        {$vo2.code}--<span style="color:red">{$vo2.name}</span> <span class="icon-times"></span> <span style="color:red;font-weight:bold;">{$vo2.number}</span>
						<if condition="$vo2.status eq 'cancel'"><strong style="color:red;margin-left:10px;">已取消</strong></if>
                       <if condition='$vo2.description neq ""'> <hr /> <span style=" color:red; margin-left:17px; font-size:10px;">备注：{$vo2.description}</span></if>
                       <span class="fr icon-mail-forward cur" onclick="fba_to_factory({$vo2.id})" title="转工厂" style="margin-left:10px;"></span>
                     </volist>
                     <!--订单商家留言-->
                    <?php  
                     	
                     	if($vo['order_id'])
                        {
                        	$message_seller_web = message_seller($vo['order_id'],'web','<br>');
                        }
                        if($vo['orderplatform_id'])
                        {
                        	$message_seller_plat = message_seller($vo['orderplatform_id'],'plat','<br>');
                        }
                        if($message_seller_web || $message_seller_plat)
                        {
                        	echo '<hr><p style=" font-weight: bold; color:#000;font-size:10px;margin:0px;">订单商家留言：</p>';
                        }
                        if($vo['order_id'])
                        {
                        	echo '<p style="color:#000;font-size:10px; padding-left:5px;margin:0px;">'.$message_seller_web.'</p>';
                        }
                        if($vo['orderplatform_id'])
                        {
                        	echo '<p style="color:#000;font-size:10px; padding-left:5px;margin:0px;">'.$message_seller_plat.'</p>';
                        }
                     ?>  
                 </td>
                 <td align="center" style=" font-weight:bold; color:#F00;">{:factory_status($vo['status'],1)}</td>
                 <td align="center">
                    <if condition="$vo['status'] neq 'history'">
                        <a href="{:U('/Admin/FactoryManage/FbaOrder_sta/',array('id'=>$vo['id'],'sta'=>'history'))}" class="icon-long-arrow-right" title="转为历史"></a>
                    </if>    
                </td>
            </tr>
        </volist>
        </table>
     </div>
     </form>
     <div class="list-page">
     	<empty name="page">暂时没有相关数据<else />{$page}</empty>
     </div>

</div>