<script src="__JS__/DeliveryManage/delivery.js"></script>
<div class="admin">
<table class="table  table-striped table-hover table-condensed">
<tr>
   <td colspan="7" class="table_title" style="font-size:14px;padding:10px;">
   <span class="fl icon-reorder">重量--价格表</span>
   <span class="fr">
     <a href="{:U('/Admin/DeliveryManage/delivery_weigh_add/way/import')}" class="icon-sign-in">导入记录</a>
     &nbsp;&nbsp;
     <a href="{:U('/Admin/DeliveryManage/delivery_weigh_add/way/add')}" class="icon-user">添加记录</a>
   </span>
   </td>
</tr> 
<tr>
	<td colspan="7">
	<lable><strong>运输方式：</strong></lable>
	<select name="style" id="style" onchange="cost_list_act('select')">
		<volist name="cost_way" id="vo">
			<option value="{$vo.style}" <if condition="$Think.get.style eq $vo[style]">selected</if> >{$vo.style}</option>
		</volist>
	</select>
	<lable><strong>国家：</strong></lable>
	<select name="country" id="country" onchange="cost_list_act('select')">
		<volist name="cost_country" id="vo">
			<option value="{$vo.country}" <if condition="$Think.get.country eq $vo[country]">selected</if> >{$vo.country}</option>
		</volist>
	</select>
	</td>
</tr>
<tr class="list_head">
	<td width="70" style="text-align:left">序号</td>
	<td width="150" style="text-align:left">快递</td>
	<td width="150" style="text-align:left">国家</td>
	<td width="150" style="text-align:left">最低重量</td>
	<td width="150" style="text-align:left">最高重量</td>
	<td width="150" style="text-align:left">价格</td>
	<td width="150" style="text-align:left">操作</td>
</tr>
<?php
$num=1;
?>
<volist name="list" id="vo">
<tr style='padding:20px;'>
	<td align='left'><span class="td_number"><?php echo $num;$num++;?></span></td>
	<td style="color:#03c">{$vo.style}</td>
	<td>{$vo.country}</td>
	<td  style="color: #f60">{$vo.lower_weight}</td>
	<td  style="color: #f60">{$vo.upper_weight}</td>
	<td  style="color: #f60">{$vo.price}</td>
	<td onclick="cost_list_act('delete',{$vo.id})" style="cursor:pointer;" class="icon-trash-o" title="删除"></td>
</tr>
</volist>
<tr class="tr">
    <td colspan="7" class="pages" align="center">{$page}</td>
</tr>
</table>
</div>