<div class="admin">
<form action="{:U('/Admin/DeliveryManage/delivery_baf_act/act/add')}" method="post">
<table width="98%" border="0" cellpadding="4" cellspacing="1" class="table">
	<tr class="table_title">
		<td colspan="4">添加记录</td>
	</tr>
	<tr class="tr rt">
		<td width="100">快递</td>
		<td colspan="3" class="lt">
		<select name="style">
		<volist name="cost_way" id="vo">
		<option value="{$vo.style}">{$vo.style}</option>
		</volist>
		</select>
		</td>
	</tr>
	<tr class="tr rt">
		<td width="100">百分比</td>
		<td colspan="3" class="lt">
		<input type="text" name="percent" style="width:200px">
		</td>
	</tr>
	<tr class="tr rt">
		<td width="100">有效期</td>
		<td colspan="3" class="lt">
		<input type="text" name="time" style="width:200px;cursor:pointer;height:25px;" class="Wdate bd" onClick="WdatePicker()" value="{:date('Y-m-d h:m:s',time())}">
		</td>
	</tr>
	<tr class="tr rt">
		<td width="100">操作人</td>
		<td colspan="3" class="lt">
		<input type="text" name="operator" style="width:200px;background:white;" readonly="readonly" value="{$username}">
		</td>
	</tr>
	<tr class="tr lt">
		<td colspan="4">
		<input class="bginput" type="submit" value="添 加" >
		&nbsp;
		<input class="bginput" type="button" onclick="javascript:history.back(-1);" value="返 回" >
		</td>
	</tr>
</table>
</form>
</div>