<div class="admin">
	<form action="{:U('/Admin/ServiceManage/order_dispose_status_add',array('style'=>$_GET['style'],'id'=>$_GET['id']))}" method="post" name="form" id="myform">
		<table class="table  table-striped table-hover table-condensed">
			<tr class="table_title">
				<td colspan="4">{$tpltitle} 接受人</td>
			</tr>
			<tr class="tr rt">
				<td width="100">接受人：</td>
				<td colspan="3" class="lt">
				<input type="text" name="operator" id="name" class="admin_input" value="{$info.operator}" >
				</td>
			</tr>
			<tr class="tr lt">
				<td colspan="4">
				<input type="submit" name="dosubmit" class="button border-main" value="添 加">&nbsp;
				<input class="button border-main" type="button" onclick="javascript:history.back(-1);" value="返 回" ></td>
			</tr>
		</table>
	</form>
</div>