<div class="admin">
	<table class="table table-bordered table-striped table-hover table-condensed" width="98%" border="0" cellpadding="5" cellspacing="1" class="table">
		<tr>
			<td colspan="9" class="table_title">
				<span class="fl">常见问题管理</span>
				<span class="fr">
					<a href="{:U('/Admin/ServiceManage/service_add')}">常见问题添加</a>
				</span>
			</td>
		</tr>
		<tr class="list_head ct">
			<td>ID</td>
			<td>常见问题</td>
            <td>模板</td>
			<td>操作</td>
		</tr>
	<volist name="service_list" id="vo">
		<tr>
			<td>{$vo.id}</td>
			<td>{$vo.question}</td>
			<td>{$vo.content}</td>
			<td>
				<a onclick="return confirm('确定要删除吗?')" href="{:U('/Admin/ServiceManage/service_del/',array('id'=>$vo['id']))}">删除</a> |
				<a href="{:U('/Admin/ServiceManage/service_add/',array('id'=>$vo['id']))}">修改</a>
			</td>	
		</tr>
	</volist>
		<tr class="tr">
	          <td colspan="9" class="pages" align="center">
	            {$page}
	          </td>
	    </tr>
	</table>
</div>