<div class="admin">
	<gt name="info.id" value="0">
	<form action="{:U('/Admin/ServiceManage/service_edit')}" method="post" name="form" id="myform">
	<input type="hidden" name="id" value="{$info.id}">
	<else />
	<form action="{:U('/Admin/ServiceManage/service_add')}" method="post" name="form" id="myform">
	</gt>
	<table width="98%" border="0" cellpadding="4" cellspacing="1" class="table">

		<tr class="table_title">
			<td colspan="4">{$tpltitle} 常见问题</td>
		</tr>

		<tr class="tr rt">
			<td width="100">常见问题：</td>
			<td colspan="3" class="lt">
				<input type="text" name="question" id="name" class="admin_input" value="{$info.question}" >
			</td>
		</tr>
		<tr class="tr rt">
			<td width="100">模板：</td>
			<td colspan="3" class="lt">
				<textarea name="content" style="width:800px;height:300px;visibility:hidden;">{$info.content}</textarea>
			</td>
		</tr>
		<tr class="tr lt">
			<td colspan="4">
			<gt name="info.id" value="0">
				<input class="button border-main" type="submit" name="dosubmit" value="修 改" >
				<else />
				<input class="button border-main" type="submit" name="dosubmit" value="添 加"></gt>
			&nbsp;
			<input class="button border-main" type="button" onclick="javascript:history.back(-1);" value="返 回" ></td>
		</tr>
	</table>
	</form>
</div>